<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourway.ideaswire">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.loginUi"
            android:label="@string/title_activity_login_ui"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.signupUi"
            android:label="@string/title_activity_signup_ui"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HomepageBeforeLogin"
            android:label="@string/title_activity_homepage_before_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.EditPhotoSelectedUi"
            android:label="@string/title_activity_edit_photo_selected_ui"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HomeScreenFirstLogin"
            android:label="@string/title_activity_home_screen_first_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CropedImage"
            android:label="@string/title_activity_croped_image"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
